/* 	SECTIONS
	===================================================================== */

	// Grey radial gradient background
	body {
		background: rgba(255,255,255,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(26%, rgba(255,255,255,1)), color-stop(27%, rgba(255,255,255,1)), color-stop(100%, rgba(197,216,224,1)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		background: radial-gradient(ellipse at center, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c5d8e0', GradientType=1 );
		background-attachment: fixed;
	}


/*	Sections general
	--------------------------------------------------------------------- */
	section[class^="section"] {
		position: relative;
		font-size: 1.875rem;
		color: @txt-blue;
		border-bottom: 2px solid #000;

		.large-text {
			display: block;
			font: 800 4.375rem/1.2 'Open Sans';
			color: @txt-lime;
			text-transform: uppercase;
			letter-spacing: 0.188rem;
		}

		.button {
			background: @core-lime;
			.rounded(5px);
			display: inline-block;
			color: @txt-blue;
			font: 800 1.875rem 'Open Sans';
			text-transform: uppercase;
			padding: 1rem 1.5rem;
			.transition;
			text-decoration: none;
			letter-spacing: 0.063rem;

			&:hover {
				background: #fff;
			}
		} // .button
	}


/*	Welcome
	--------------------------------------------------------------------- */
	.section-welcome {

	} // .section-welcome

	.section-welcome__giovanni {
		.hor-centered;
		top: 50%;
		margin-top: -300px;
	} // .section-welcome__giovanni

	.section-welcome__content {
		.hor-centered;
		top: 50%;
		text-align: center;
		margin-top: 140px;
	} // .section-welcome__content


/*	Actions
	--------------------------------------------------------------------- */
	.section-actions {

	} // .section-actions

	.section-actions__giovanni {
		.vert-centered;
		left: 50%;
	} // .section-actions__giovanni

	.section-actions__content {
		.vert-centered;
		left: 50%;
		width: 500px;
		margin-left: -540px;
	} // section-actions__content


/*	Friend
	--------------------------------------------------------------------- */
	.section-friend {

	} // .section-friend

	.section-friend__giovanni {
		position: absolute;
		height: 300px;
		top: 50%;
		left: 50%;
	    margin: -210px 0 0 -100px;
	} // .section-friend__giovanni

	.section-friend__leonardo {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -140px 0 0 20px;
	} // .section-friend__leonardo

	.section-friend__content {
		.vert-centered;
		left: 50%;
		width: 500px;
		margin-left: -540px;
	} // section-friend__content