/* 	SECTIONS
	===================================================================== */

	// Grey radial gradient background
	body {
		background: rgba(255,255,255,1);
		background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(26%, rgba(255,255,255,1)), color-stop(27%, rgba(255,255,255,1)), color-stop(100%, rgba(197,216,224,1)));
		background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		background: radial-gradient(ellipse at center, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 27%, rgba(197,216,224,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c5d8e0', GradientType=1 );
		background-attachment: fixed;
	}


/*	Sections general
	--------------------------------------------------------------------- */
	section[class^="section"] {
		position: relative;
		font-size: 1.875rem;
		color: @txt-std;

		.large-text {
			display: block;
			font-family: 'Open Sans';
			font-size: 4.375rem;
			font-weight: 800;
			color: @txt-alt;
			text-transform: uppercase;
			letter-spacing: 0.188rem;
		}

		.button {
			background: @core-lime;
			.rounded(5px);
			display: inline-block;
			color: @txt-std;
			font-family: 'Open Sans';
			font-size: 1.875rem;
			font-weight: 800;
			text-transform: uppercase;
			padding: 1rem 1.5rem;
			.transition;
			text-decoration: none;
			letter-spacing: 0.063rem;

			&:hover {
				background: #fff;
			}
		} // .button
	}


/*	Welcome
	--------------------------------------------------------------------- */
	.section-welcome {
		&.active {
			.section-welcome__content {
				margin-top: 140px;
				opacity: 1;
			}
		}
	}

	.section-welcome__giovanni {
		.hor-centered;
		top: 50%;
		margin-top: -300px;
	} // .section-welcome__giovanni

	.section-welcome__content {
		.hor-centered;
		top: 50%;
		text-align: center;
		margin-top: 80px;
		opacity: 0;
		.transition(500ms, .3s);
	} // .section-welcome__content


/*	Actions
	--------------------------------------------------------------------- */
	.section-actions {
		&.active {
			.section-actions__content {
				margin-top: 0px;
				opacity: 1;
			}
		}
	}

	.section-actions__giovanni {
		position: absolute;
		top: 50%;
		margin-top: -250px;
		left: 50%;

		&.jump {
			@keyframes jump {
				0% 		{ transform: translateY(0%); }
				55%		{ transform: translateY(-30%); }
				100% 	{ transform: translateY(0%); }
			}

			animation: jump 1s;
		}

		&.bounce {
			@keyframes bounce {
				0% 		{ transform: translateY(-0%); }
				60% 	{ transform: translateY(-10%); }
				100% 	{ transform: translateY(-0%); }
			}

			animation: bounce .3s infinite;
		}

		&.spin {
			@keyframes spin {
				0% 		{ transform: rotate(0deg); }
				100% 	{ transform: rotate(360deg); }
			}

			animation: spin 1s;
		}
	} // .section-actions__giovanni

	.section-actions__content {
		.vert-centered;
		left: 50%;
		width: 500px;
		margin-left: -540px;
		margin-top: -80px;
		opacity: 0;
	    .transition(500ms, .3s);
	} // section-actions__content


/*	Friend
	--------------------------------------------------------------------- */
	.section-friend {
		&.active {
			.section-friend__content {
				margin-top: 0px;
				opacity: 1;
			}
		}
	}

	.section-friend__giovanni {
		position: absolute;
		height: 300px;
		top: 50%;
		left: 50%;
	    margin: -210px 0 0 -100px;
	} // .section-friend__giovanni

	.section-friend__leonardo {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -140px 0 0 20px;
	} // .section-friend__leonardo

	.section-friend__content {
		.vert-centered;
		left: 50%;
		width: 500px;
		margin-left: -540px;
		margin-top: -80px;
		opacity: 0;
	    .transition(500ms, .3s);
	} // section-friend__content


/*	Skillz
	--------------------------------------------------------------------- */
	.section-skillz__circles {
		position: absolute;
		.hor-vert-centered;
	}

	.section-skillz__circle {
		width: 255px;
		height: 255px;
		border: 6px solid @b-std;
		.rounded(50%);
		overflow: hidden;
		background: #fff;
		position: relative;
		float: left;

		& + .section-skillz__circle { margin-left: 18px; }

		img {
			max-width: none;
			position: absolute;
		} // img

		&.giovanni {
			img {
				width: 300px;
				.hor-centered;
				margin-top: 30px;
			}
		} // .giovanni

		&.leonardo {
			img {
				width: 300px;
				.hor-centered;
			    margin: 50px 0 0 -20px;
			}
		} // .giovanni
	} // .section-skillz__circle