/* 	COLOURS
	===================================================================== */

/*	Core
	--------------------------------------------------------------------- */
	@core-lime: #a1ff91;
	@core-blue: #206cad;


/*	Text
	--------------------------------------------------------------------- */
	@txt-std: #206cad; // Default blue text
	@txt-alt: @core-lime; // Green used for larger text e.g. "GIOVANNI"


/*	UI
	--------------------------------------------------------------------- */
	@ui-nav-dot: #d5dbdc;
	@ui-nav-dot-o: @core-lime;


/*	Borders
	--------------------------------------------------------------------- */
	@b-std: #d5dbdc;